/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  --cor1: #042940;
  --cor2: #005C53;
  --cor3: #9FC131;
  --cor4: #DBF227;
  --cor5: #D6D58E;
  --gray: #333;
  --gray2: #222;

  font-family: 'Roboto', sans-serif;
  /* font-size: 62.5%; */
}

body{
  display: flex;
  overflow-x: hidden;
  background-color: var(--cor1);
  color: var(--gray2);
}

.container{
  background-color: var(--cor5);
  width: 100vw;
  min-height: 100vh;

  transform-origin: top left;
  transition: transform .5s linear;

  padding: 5rem;
}

.container.show-nav{
  transform: rotate(-20deg);
}

.container.show-nav .circle{
  transform: rotate(-70deg);
}

.circle-container{
  position: fixed;
  top: -10rem;
  left: -10rem;
}

.circle{
  background-color: var(--cor2);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  transition: transform .5s linear;
}

.circle button{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10rem;

  background-color: transparent;

  border: 0;

  font-size: 2.6rem;
  color: white;

  cursor: pointer;
}

.circle button:focus{
  outline: none;
}

.circle button#open{
  left: 60%;
}

.circle button#close{
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.container.show-nav + nav li{
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav{
  position: fixed;
  bottom: 4rem;
  left: 0;

  color: white;

  z-index: 100;
}

nav ul{
  list-style-type: none;
  padding-left: 3rem;
}

nav ul li{
  text-transform: uppercase;
  margin: 2rem 0;

  transform: translateX(-100%);
  transition: tranform .4s ease-in;
}

nav ul li i{
  font-size: 2rem;
  margin-right: 1rem;
}

nav ul li + li{
  margin-left: 1.5rem;
  transform: translateX(-150%);
}

nav ul li + li + li{
  margin-left: 3rem;
  transform: translateX(-200%);
}

.content img{
  max-width: 100%;
}

.content{
  max-width: 100rem;
  margin: 5rem auto;
}

.content h1{
  margin: 0;
}

.content small{
  color: #555;
  font-style: italic;
  margin-bottom: 2rem;
}

.content p{
  color: var(--gray);
  line-height: 1.5;
  margin: 1rem auto;
}